#drawingApp {
	display: inline-block;
	margin: 0px;
	min-width: 200px;
	min-height: 200px;
	max-width: 500px;
	max-height: 500px;
	border: 1px solid yellow;
}

#myCanvas {
	border: 1px solid #000000;
}

.penPicker {
	width: 30px;
	text-align: right;
}

.color.penPicker {
	text-indent: +9999px;  
}



#main-controls {
	display: inline-block;
	width: 32px;
	border: 1px solid green;
	vertical-align: top;
	position: absolute;
}

.selectedButton {
	background-color: rgba(20, 48, 248, 0.6);
}

#main-controls button, #sub-controls button {
	height: 30px;
	width: 30px;
	padding: 0;
}

#main-controls button img, #sub-controls button img {
	height: 20px;
	width: 20px;
}

.hidden-element {
	display: none !important;
}

#sub-controls {
	border: 1px solid orange;
	width:100%;
}

.container {
	display: inline-block;
}

#drag-container {
	border: 1px solid green;
	display: inline-block;
	position: absolute;
	vertical-align: top;
	margin-left: 20px;
	color: red;
	
	background-color: rgba(110, 108, 137, 0.4);
	background: rgba(110, 108, 137, 0.4);
	-moz-transform:rotate(-270deg); 
	-moz-transform-origin: bottom left;
	-webkit-transform: rotate(-270deg);
	-webkit-transform-origin: top left;
	-o-transform: rotate(-270deg);
	-o-transform-origin:  bottom left;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}